$white: #ffffff;
$white2: #f8f8f8;
$white3: #e4e4e4;
$white4: #f1f1f1;
$gray: #f4f4f4;
$gray1: #eaeaea;
$gray2: #707070;
$gray3: #433e3e;
$gray4: #afafaf;
$gray5: #ececec;
$gray6: #dddddd;
$gray7: #b2b2b2;
$gray8: #d5d5d5;
$gray9: #e5e5e5;
$gray10: #8f8f8f;
$gray11: #555555;
$orange: #ff9900;
$orange1: #ff9933;
$orange2: #ff8000;
$orange3: #ff8800;
$orange4: #ff9900;
$green: #22d983;
$green2: #20d581;
$red: #ed5f5f;
$red2: #f05050;
$blue: #0099ff;
$light-blue: #29bcde;
$cyan: #5d9cec;
$yellow: #fde027;
$yellow2: #f7d76d;
$yellow3: #f0d750;
$black: #000000;
$black2: #333333;
$black3: #3a3737;
